@model IEnumerable<FIT5032Final.Models.Administrator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@if (User.IsInRole("Administrator"))
{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdministratorName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdministratorName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AdministratorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AdministratorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AdministratorId })
            </td>
        </tr>
    }

</table>
}
