@model IEnumerable<FIT5032_ASS2.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.YearsOfService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrator.AdministratorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.YearsOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrator.AdministratorId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
